/*
Colores:
#5A5B5D SUSTITUTO DEL NEGRO
#5A5B5D COLOR DE CONTRASTE
#EEEDE9 SUSTITUTO DEL BLANCO
#D9D9D9 CONTRASTE DEL BLANCO
#BC4ED8 VERDE CLARO GENERAL DOCENTE
#7F00B2 VERDE OSCURO GENERAL CONTRASTE DEL OTRO DOCENTE
#BC4ED8 VIOLETA CLARO GENERAL ALUMNO
#7F00B2 VIOLETA OSCURO GENERAL ALUMNO
*/
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #EEEDE9;
}
.menu{
    background: #5A5B5D;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    color: #EEEDE9;
    font-size: 35px;
    padding: 35px;
    font-weight: bold;
    letter-spacing: 2px;
}
.midbutton{
    display: flex;
    list-style: none;
    margin-right: 50px;
    
}
.midbutton a{
    text-decoration: none;
    border-radius: 10px;
    margin: 0 5px;
    border: 1px solid #EEEDE9;
    width: 150px;
    color: #EEEDE9;
    text-align: center;
}
.midbutton a:hover{
    background: #EEEDE9;
    color: #5A5B5D;
}
.rightbutton{
    list-style: none;
    float: right;
}
.rightbutton a{
    display: block;
    text-decoration: none;
    border-radius: 10px;
    margin: 5px 5px;
    border: 1px solid #EEEDE9;
    width: 220px;
    height: 40px;
    color: #EEEDE9;
    text-align: center;
}
.rightbutton a:hover{
    background: #EEEDE9;
    color: #5A5B5D;
}
.rightbutton h1{
    margin: 0;

}
.PrimerSeccion{
    display: flex;
}
.PrimerSeccion aside{
    width: 50%;
}
.ladoDerecho p{
    text-align: left;
    font-size: 40px;
    padding: 40px 120px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #5A5B5D;
}
p span{
    font-weight: bold;
}
.ladoDerecho a{
    text-decoration: none;

}
.ladoDerecho a h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 120px;
    background: #BC4ED8;
    height: 60px;
    width: 330px;
    color: #EEEDE9;
    border-radius: 30px;
    font-size: 20px;
    border: 1px solid #5A5B5D;
}
.ladoDerecho a h1:hover{
    background: #BC4ED8;
    border: 1px solid #5A5B5D;
    color: #7F00B2;

}
#imPrin{
    width: 50%;
}
#buscar{
    background: #D9D9D9;
    height: 100px;
    display: flex;
    margin-top: 30px;
}
.Buscar_texto{
    height: 40px;
    width: 49%;
    margin: 26px 6px;
    border-radius: 5px;
    font-size: large;
}
#lupaPNG{

    width: 27px;
    background: #7F00B2;
    padding: 4px;
    margin: 29px 0;
    border-radius: 5px;
    border: 3px solid #5A5B5D;
}
#filtros{
    background-color: #EEEDE9;
    height: 300px;
}
#alumno{
    width: 41%;
    margin: 3% 3% 3% 6%;
    display: block;
    float: left;
    position: relative;
    text-align: center;
}
#alumno .centrado{
    color: #EEEDE9;
    background: #BC4ED8;
    padding: 5px 35px;
    border-radius: 15px;
    border: 1px solid #7F00B2;
    pointer-events: none;
}
#docente{
    width: 41%;
    margin: 3% 6% 3% 3%;
    display: block;
    float: left;
    position: relative;
    text-align: center;
}
#docente .centrado{
    color: #EEEDE9;
    background:#BC4ED8;
    padding: 5px 35px;
    border-radius: 15px;
    border: 1px solid #7F00B2;
    pointer-events: none;
}
.filterimg{
    display: block;
    width: 100%;
    margin: 0;
    border-radius: 15px;
    border: 1px solid #5A5B5D;

}
.filterimg:hover{
    display: block;
    width: 100%;
    margin: 0;
    border-radius: 15px;
    border: 1px solid #5A5B5D;
    filter: brightness(50%);
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}
.separador{
    background: #5A5B5D;
    height: 100px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    color: #EEEDE9;
    position: relative;
}
.bloqueInterno{
    display: inline-flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
}
.icon{
    width: 27px;
    padding: 0 8px 0 0;
    margin: 29px 0;
}
.carrusel{
    background-color: #EEEDE9;
    height: 300px;
}
.pie{
    background: #D9D9D9;
    height: 100px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    position: relative;
}
.pie label{
    top: 50%;
    left: 50%;
    position: absolute;
    margin: 0;
    transform: translate(-50%, -50%);
}
#logopie{
    color: #5A5B5D;
    font-size: 35px;
    padding: 35px;
    font-weight: bold;
    letter-spacing: 2px;
}